<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Bees! - Index</title>
</head>

<body class="text-center">
    <div class="container d-md-flex flex-column justify-content-between w-100 h-100 min-vh-100">
        <div class="header row justify-content-start m-3">
            <h1>Find your bee for this week!</h1>
        </div>
        <div class="characters row justify-content-center">
            <div class="col-md-6 d-flex flex-column">
                <div class="row col-md-4 align-self-end">
                    <p class="name mx-auto">{% if assigned %}{{ assigned }}{% else %}???{% endif %}</p>
                </div>
                <div class="row col-md-4 align-self-center">
                    <p class="name mx-auto">{% if petitioner %}{{ petitioner }}{% else %} {% endif %}</p>
                </div>
            </div>
        </div>
        {% if not assigned %}
        <div class="query row justify-content-end">
            <div class="col-md-4 mr-3 mb-4">
                <form action="" method="post">
                    {% if error %}
                    <div id="error-feedback">
                        Please choose a valid user.
                    </div>
                    {% endif %}
                    <input class="form-control form-control-lg text-center mb-2 {% if error %}is-invalid{% endif %}"
                        type="text" id="name" name="petitioner" placeholder="Please enter your name to continue."
                        minlength="3" maxlenght="20" required>

                    <button type="submit" class="btn btn-danger btn-block"><span id="find">Find your
                            bee!</span></button>
                </form>
            </div>
        </div>
        {% else %}
        <div class="query row"></div>
        {% endif %}
    </div>
</body>

</html>