html,
body {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: url('Buzzy-Bees_1600x675.jpg') no-repeat center;
    background-size: cover;
    font-family: 'VT323';
    font-size: 1.25em;
    color: ghostwhite;
}

.header {
    height: 10vh;
}

.characters {
    height: 65vh;
}

.name {
    font-size: 56px;
    transform: translate(-5vh, -10vh) rotate(-20deg);
}

.query {
    height: 15vh;
}

#error-feedback {
    color: red;
    margin-top: -30px;
}

.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#find {
    font-size: 20px;
}

